# Ignore all typical virtualenv directories
**/bin/
**/include/
**/lib/
**/lib64/
**/share/
**/pyvenv.cfg

# Ignore cache and build artifacts
**/__pycache__/
**/*.py[cod]

# Ignore env files
**/.env

# Ignore OS junk
.DS_Store
Thumbs.db

# Optional: Ignore any other local config files
.idea/
.vscode/